includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - app
        - bootstrap
        - routes
    level: 8
    checkModelAppends: false
    excludePaths:
        analyse:
            - tests
